@import "tailwindcss";

@theme {
  --font-serif-alt: "Playfair Display", serif;
}

@utility hero-gradient {
  background: linear-gradient(135deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.4) 100%);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #26519b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #26519b;
}

.bg-amber-600 {
    background-color: lab(61 -16.11 -45.82) !important;
}

.text-amber-600 {
    color: lab(62 -17.36 -44.92) !important;
}
/* Fade In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.25s ease-out forwards;
}

/* Smooth Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d97706;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b45309;
}